# Placeholders for later replacement
BASELUCKYWHEEL_CONTRACT_ADDRESS_PLACEHOLDER=BASELUCKYWHEEL_CONTRACT_ADDRESS_PLACEHOLDER
BASE_APP_ID_PLACEHOLDER=BASE_APP_ID_PLACEHOLDER
TALENT_VERIFICATION_PLACEHOLDER=TALENT_VERIFICATION_PLACEHOLDER
BUILDER_CODE_PLACEHOLDER=BUILDER_CODE_PLACEHOLDER
GITHUB_TOKEN_PLACEHOLDER=GITHUB_TOKEN_PLACEHOLDER
VERCEL_TOKEN_PLACEHOLDER=VERCEL_TOKEN_PLACEHOLDER
